:root {
  --main-title-color:#212121 ;
  --second-title-color: #757575;
  --third-title-color: #FFFFFF;;
  --accent-color: #2196F3; 
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.conteiner {
  width: 1200px;
  margin-left: 15px;
    margin-right: 15px;
  /* outline: 1px solid tomato; */
}

.h1,
.h2,
.h3,
.p,
.ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* <!-- ---header--- --> */
.header {
display: flex;
align-items: center;
}

.page-header {
border: 1px solid  #ECECEC;
}

.header-text-first,
.header-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--main-title-color)
}

.header-text {
color: var(--accent-color);
}

.text {
color: #000000;
}

.header-icon {
align-items: center;
margin-right: 10px;
fill: currentColor;
}


.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}


.header-list {
  display: flex;
  margin-left: 93px;
}

.header-link,
.header-mail {
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--second-title-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-item:not(:last-child) {
  margin-right: 50px;
} 

.current {
  color: var(--accent-color);
   display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
}

.header-link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.current::after{
  content: '';
  display: block;
  width: 100%;
height: 4px;
margin-top: 28px;
position: absolute;
background: #2196F3;
border-radius: 2px;

opacity: 0;
transition: opacity 250ms var(--timing-function) ;
}

.header-link:hover::after {
  opacity: 1;
}

.header-mail {
color: var(--second-title-color);
margin-right: 50px;
}


.header-tel {
  font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
  color: var(--second-title-color);
 margin-right: 10px;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  margin-left: auto;
  display: flex;
  justify-content: center;
}

/* <!-- ---HERO--- --> */

.hero {
  background-color: #2F303A;
}

.overlay {
  min-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
  url(../images/hero-picture.jpg);
   background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.conteiner-hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--third-title-color);
}
.hero-button {
  font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
min-width: 200px;
min-height: 50px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
align-items: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #2196F3;
/* position: relative; */
}



/* <!-- ---benefits--- --> */

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
  
}

.benefits-list {
  display: flex;
  background-color: F5F4FA;
}

.benefits-cart {
  display: flex;
  align-items: center;
  justify-content: center;
 height: 120px;
 width: 270px;
 background-color: #F5F4FA;
 margin-bottom: 30px;
 
}

.benefits-item {
  width: 270px;
  margin-right: 30px;
}

.benefits-item:last-child {
  margin-right: 0;
}


.benefits-item-tetle {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 10px;
  font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-title-color);
}
.benefits-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--second-title-color);
}

/* <!-- ---work--- --> */

.work {
  padding-bottom: 94px;
}

.work-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-title-color);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
 
}

.work-item {
  margin-right: 30px;
}

.work-img {
  display: block; 
  max-width: 100%; 
  height: auto;
}



.work-item:last-child {
  margin-right: 0;
}

.work-top-text {
position: relative;
}


.top-text {
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--third-title-color);
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 82px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}
/* <!-- ---team--- --> */

.team {
  background: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-title-color);
}

.team-list {
  display: flex;
}

.team-caption,
.team-text {
  
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-title-color);
}

.team-caption {
  margin-top: 0;
  margin-bottom: 10px;
}
.team-text {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 12;
color: var(--second-title-color);
}

.action {
  display: flex;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.action-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.action-link {
  width: 100%;
  height: 100%;
  background-color: var(--third-title-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.action-item:last-child {
 margin-right: 0;
}


.action-icon {
  width: 22px;
  height: 22px;
align-items: center;
fill: currentColor;
}

.action-link:hover,
.action-link:focus {
  background-color: var(--accent-color);
}

.action-link:hover .action-icon,
.action-link:focus .action-icon  {
  fill: #FFFFFF;
}


.team-item {
 margin-right: 30px; 
 background-color: var(--third-title-color);
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-item-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item:last-child {
  margin-right: 0;
}
/* ---CLIENTS--- */
.client {
  padding-top: 88px;
  padding-bottom: 96px;
}


.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-title-color);
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item {
  margin-right: 30px;
  width: 170px;
  height: 92px;
border-radius: 4px;
  border: 1px solid #AFB1B8;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-icon {
   align-items: center;
   justify-content: center;
fill: currentColor;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1),
border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover,
.clients-item:focus {
  border-color: var(--accent-color);
}


.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
 
}

.action-link:hover,
.action-link:focus {
  background-color: var(--accent-color);
  fill: var(--third-title-color);
}


/* <!-- ---footer--- --> */

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  border: 1px solid #2196F3;
}

.footer-position {
  display: flex;
  align-items: flex-start;
 position: relative;
}


.footer-link-map {
   font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
font-style: normal;
}

.footer-list {
padding-top: 0;
  margin-bottom: 9px;
}

.footer-link {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-link:hover,
.footer-link-map:focus {
  color: var(--accent-color);
}

.footer-text-first,
.footer-text-second  {
  font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);

}
.footer-text-second {
color: #FFFFFF;
}

.footer-email,
.footer-tel {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-email {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.foote-list {
   margin-bottom: 9px;
}

.conteiner-footer-second {
 margin-left: 70px;

}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}



.footer-action {
  display: flex;
  justify-content: center;
}

.footer-action-item {
   width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-action-item:last-child {
  margin-right: 0;
}

.footer-action-link {
width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-action-link:hover,
.footer-action-link:focus {
  background-color: var(--accent-color);
  fill: var(--third-title-color);
}

.footer-input {
 margin-right: 12px;
 padding-left: 16px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
width: 358px;
height: 50px;
background-color: transparent;
}

.footer-form {
 position: absolute;
 right: 0;

}

.form-button {
  font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
min-width: 200px;
min-height: 50px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
letter-spacing: 0.06em;
color: var(--third-title-color);
background-color: var(--accent-color);
margin-left: 124px;
padding: 10px 55px;
display: block;
align-items: center;
margin-top: 30px;
text-align: center;
}


.button-item {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-title-color);
background: #F5F4FA;
border-radius: 4px;
border: none;
padding: 6px 22px;
text-decoration: none;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button {
   font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
min-width: 200px;
min-height: 50px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
letter-spacing: 0.06em;
color: var(--third-title-color);
background-color: var(--accent-color);
position: relative;
padding: 10px 28px;
display: inline-flex;
align-items: center;

}

.footer-form-icon {
fill: var(--third-title-color);
margin-left: 10px;
position: absolute;
top: 0;
transform: translateY(50%);
}



/* <!-- ---PORTFOLIO--- --> */
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
display: flex;
margin-bottom: 50px;
justify-content: center;
text-decoration: none;
}

.item:not(:last-child) {
 margin-right: 8px;
}


.button-item {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-title-color);
background: #F5F4FA;
border-radius: 4px;
border: none;
padding: 6px 22px;
text-decoration: none;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:hover,
.button-item:focus {
  color: var(--third-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}


.examples-title {
  margin-top: 0;
margin-bottom: 4px;
  font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--main-title-color);
}
.examples-text {
 margin-top: 0;
 margin-bottom: 0;
  font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--second-title-color);
}

.examples-list {
  display: flex;
flex-wrap: wrap;
}

.card {
  padding: 20px 24px;
}

.examples-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
 background: #FFFFFF;
border: 1px solid #EEEEEE; 
}



.examples-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.examples-item:nth-child(3n) {
  margin-right: 0;
}

 .examples-item:hover,
 .examples-item:focus {
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 }

 .examples-color-text {
position: relative;
overflow: hidden;
 }

 .color-text {
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: var(--third-title-color);
background: rgba(33, 150, 243, 0.9);
padding: 63px 24px;
height: 100%;
margin-top: 0;
margin-bottom: 0;
position: absolute;
transform: translateY(101%);
top: 0;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .examples-link:hover .color-text {
 transform: translateY(0); 
 
}

.examples-link {
 text-decoration: none;
}

.conteiner, .examples {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}
/* ---MODAL--- */

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
   background: rgba(0, 0, 0, 0.2);
   transition: opacity 250ms, visibility 250ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  
  background-repeat: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.modal-close {
  width: 30px;
height: 30px;
border-radius: 50%;
position: absolute;
top: 8px;
right: 8px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close:hover .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  width: 11PX;
  height: 11PX;
 justify-content: center;
align-items: center;
fill: #000000;
fill: currentColor;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
}

.modal-form {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
margin-left: auto;
margin-right: auto;
padding: 40px;
}

.form-comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  outline: none;
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-label {
  display: block;
  font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: #757575;
margin-bottom: 4px;
margin-top: 10px;
}

.modal-text {
  font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-top: 0;
margin-bottom: 0;
}



.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
appearance: none;
padding-left: 42px;
position: relative;
outline: none;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-input:hover,
 .form-input:focus,
 .form-comment:hover,
 .form-comment:focus {
 border: 1px solid #2196F3;
 outline: none;
}

.form-input:hover + .form-input::after,
.form-input:focus + .form-input::after {
  content: "";
  width: 16px;
  height: 1px;
   background-color: #303030;
  margin-left: 40px;
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}



.form-input:focus {
 border: 1px solid #2196F3;
}

.form-input:focus + .form-comment {
   content: "";
  width: 16px;
  height: 1px;
   background-color: #303030;
  margin-left: 12px;
}

.form-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
margin-bottom: 20px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea::placeholder {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}

.footer-input-text{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: rgba(255, 255, 255, 0.6);;
}

.form-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



 .placeholder {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
 }

.form-input:checked + .checkbox-icon {
/* fill: var(--accent-color); */
background-color: #2196F3;
background-size: contain;
background-image: url(../images/icon-policy.svg);
background-origin: border-box;
border-color: #2196F3;
}

.position-icon {
  position: relative;
}

.checkbox {
 position: relative;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
 }

.checkbox:checked + .checkbox-icon {
background-color: var(--accent-color);
background-image: url(../images/icon-policy.svg);
background-size: contain;
background-origin: border-box;
background-color: #2196F3;
background-repeat: no-repeat;
border-radius: 2px;
}


.checkbox-icon {
  width: 16px;
  height: 15px;
  display: inline-block;
position: absolute;
background: var(--third-title-color);
top: 50%; 
left: 0;
transform: translateY(-50%);
background-image: url(../images/icons3.svg);
background-repeat: no-repeat;
background-size: contain;
}


.checkbox-label {
 display: inline-block;
  align-items: center;
 position: relative;
 margin-left: 13px;
 padding-left: 24px;
}

.checkbox-text {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

.agree-link {
display: inline-block;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
margin-left: 4px;
text-decoration-line: underline;
color: var(--accent-color);
}